<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Kai</title>
    <link rel="stylesheet" href="/plugins/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/customStyle/style.css" type="text/css">
</head>

<body>
    <div class="mt-4"></div>
    <div id="notes-header" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>TaskKai</h2>
            </div>
        </div>
    </div>    

    <div id="list-project" class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="rounded-pill badge bg-primary">HIP - Halal Integrated Platform</span>
                <span class="rounded-pill badge bg-danger">FATAS - Food, Attraction, Transport, Accomodation, ????</span>
                <span class="rounded-pill badge bg-warning">PPJ - Perbadanan Putrajaya</span>
                <span class="rounded-pill badge bg-secondary">+</span>
            </div>
        </div>
    </div>

    <div id="kanban-project" class="custom-margin-container mt-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="card h-100 card-bg">
                    <div class="card-body">
                        <div class="header-text-box">
                            <div class="row">
                                <h5 class="card-title">Test title</h5>
                                <span>...</span>
                            </div>

                        </div>
                        <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100 card-bg">
                    <div class="card-body">
                        <h5 class="card-title">Test title</h5>
                        <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100 card-bg">
                    <div class="card-body">
                        <h5 class="card-title">Test title</h5>
                        <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100 card-bg">
                    <div class="card-body">
                        <h5 class="card-title">Test title</h5>
                        <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/plugins/js/bootstrap.min.js"></script>
    <script src="/plugins/jquery/jquery.min.js"></script>

    <script src="/javascripts/index.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            initIndex()
        });
    </script>
</body>

</html>